@charset "UTF-8";
#container{
    margin: 0 auto;
    padding: 0;
    width: 800px;
}
#container .header{
   width: 100%;
   height: 50px;
   background-color: aquamarine;
}
#container .warpping{
    width: 100%;
    height: 500px;
    margin: 10px 0;
    background-color: rgb(56, 34, 199);
 }
 #container aside{
    width: 20%;
    height: 500px;
    background-color: rgb(170, 240, 18);
    float: left;
 }
 #container .main{
    width: 60%;
    height: 500px;
    background-color: rgb(249, 54, 10);
    float: left;
 }
 #container .footer{
    width: 100%;
    height: 80px;
    margin: 10px 0;
    background-color: rgb(234, 127, 12);
    clear: both;
 }